@model MVCExemple.Models.Menu

@{
    ViewData["Title"] = "Admin Dashboard";
}

@if (ViewData["Menu"] != null)
{
    var MenuAdmin = ViewData["Menu"] as List<Menu>;
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                @foreach (var item in MenuAdmin)
                {
                    <li class="active-link">
                        <a asp-controller="@item.Controller" asp-action="@item.Methode"><i class="@item.Icone"></i>@item.Nom</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 ">
                <div class="alert alert-info">
                    <strong>Welcome Osama Zaidi ! </strong> You Have No pending Task For Today.
                </div>
            </div>
        </div>
        <div class="row text-center pad-top">
            @foreach (var item in MenuAdmin)
            {
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                    <div class="div-square">
                        <a asp-controller="@item.Controller" asp-action="@item.Methode">
                            <i class="@item.Icone fa-5x"></i>
                            <h4>@item.Nom</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
}